<div class="row d-flex justify-content-center mt-5">
        <div class="col-6">
        <div class="card bg-info">
            <div class="card-body">
                <h5 class="card-title text-center mb-3">New Comment</h5>
                <form class="form new-post"  id="new-post">
                    <div class="form-group mt-2">
                        <label for="new-post-text">Post Content</label>
                        <textarea class="form-control" id="new-post-content" rows="3"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>


<script src="./js/newComment.js"></script>